body{
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
}

h3 {
	font-family: 'Brandon-Black', "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	font-size: 30px;
}



/* Header */
header{
 height: 600px;
 text-align: center;
 background-color: #ECECEC;
 padding-top: 50px;

}

 header h2{
	font-family:'Alegreya', Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size: 2.0em;
	margin-top: 50px;
}

 header p {
	font-family:'Alegreya', Georgia, "Times New Roman", Times, serif;
	color: #000;
	font-size: 1.5em;
	padding:0 120px 0 120px;
}
p{
	font-size: 20px;
}


.post {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    margin-bottom: 0rem;
    background-color: #fff;
    padding: 3em 5em 5em 5em;
}

.post-clmn-3 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
   }

.post-clmn-2 {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}

.post-clmn-3 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #242424;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid #242424;
}

.post-clmn-2 h1 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #242424;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid #242424;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background: url(../img/texture33.png);
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background: #000;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-family: "Josefin Slab", serif;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#000;
	color:rgba(0, 0, 0, 0.7);
}

.contact {
    bottom: 0px;
    display: block;
    height: 150px;
    background: #000;
}

.logosub{
	font-size: 45px;
	color:#fff;
	font-weight: 500;
}

blockquote{
	font-family: 'Hagin caps', Helvetica, Arial, sans-serif;
	font-weight: 50px;
	border-left: none;
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
}
/* vertical-centered text */
.text-vcenter {
display: table-cell;
text-align: center;
vertical-align: middle;


}
.text-vcenter h1 {
font-size: 3.5em;
font-weight: 500;
margin: 0;
padding: 0;

}

.lead{
	font-size: 16px;
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	line-height: 1.7;
}

.farmtext{
	font-size: 26px;
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	line-height: 1.7;
	color: #fff;
}





/* additional sections */
#home {
background: url('https://download.unsplash.com/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg') no-repeat center center fixed; 
display: table;
height: 400px;
position: relative;
width: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}




 

 /*main content*/	

 	.main-content{
 		text-align: left;
 	}

 	.main-content h3{
 		padding: 10px 25px;
 		display: inline-block;
 		font-size: 2.5em;
 		color: #000 ;
 		font-family:'Alegreya', Georgia, "Times New Roman", Times, serif;
 		border-bottom: 1px solid #242424;
 		
 	}




.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
	color:#F5A623;
	font-size: 20px;
}

.panel-default {
	border-color: transparent;
}


.panel-heading .accordion-toggle.collapsed:after {

}
.panel-default>.panel-heading {
	background-color: #fff;
	}

.col-md-6 {
	margin-top: 30px;
	margin-bottom: 20px;
	}

.bg-4 {
	padding-top:30px;
    background-color:#e6e6e6;
}


#footer {
  height: 150px;
  background-color: #E5E7E3;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:10px;
  margin-top:20px;
}


.footer-logo {
	display: table-cell;
text-align: center;
vertical-align: middle;
height: 50%;
margin-top: 1px;
}


.wrapper-title h2{
	font-size: 70px;
	line-height: 70px;
	margin:0px;
	color:#fff;
	font-family: 'Amatic SC', Georgia, "Times New Roman", Times, serif;
	text-transform:uppercase;
	font-weight: 600;
	
}





#footer {
  height: 150px;
  background-color: #E5E7E3;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:10px;
  margin-top:20px;
}


.footer-logo {
	display: table-cell;
text-align: center;
vertical-align: middle;
height: 50%;
margin-top: 1px;
}








}
/*-------------Media Quieries---------------*/

@media (max-width: 768px){
	.navbar-default .navbar-nav>li>a {
		width: 100%;
		border-bottom: 1px solid #3d3d3d;
		text-align: center;
	}
}
.navbar-default .navbar-toggle {
	margin-top: 25px;
	border-color: #646464;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color:#F5A623;
}

  .padz-s{
    padding:0;
  }
  .panel-group {margin-bottom:30px;}
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
     /* font-family: 'sdicons';  /* essential for enabling glyphicon */
     /* content: "\e005";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e003";    /* adjust as needed, taken from bootstrap.css */
}

.wide{
  width:90%;
  height:400px;
  margin-top: 30px;
  background-image:url('images/food.jpg');
  background-size:cover;
}

.wide img{
	width: 100%
}

.logo{
	color: #fff;
	float:right;
}

