@charset "utf-8";
/* how about we level the playing field - time to reset! */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 14px;
	vertical-align: baseline;
}

body {
	line-height: 1.5;
	color: #794600;
	float: none;
	background-attachment: fixed;
	background-image: url(../images/bk-image.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}


table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}


/* general, reusable styles */
.clear {
	clear: both;
}

.stageLeft {
	float: left;
	margin: 0 20px 20px 0;
}

.stageRight {
	float: right;
	margin: 0 20px 20px 0;
}

.ghost {
	display: block;
	text-indent: -9999px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;	
}
