

body {
  background-image: url('images/fields.png');
  color: #000905;
  font-size: 87.5%;
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
}




a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover, a:active{
	color: #FFF;
}


#callout {
	width:100%;
	height: auto;
	background: #e0d9cb;
	overflow: auto;
}

#callout p{
	text-align: right;
	color: #faf8f1;
	font-size: 13px;
	padding: 01.1% 5% 0 0;
}

#callout p a{
	color: #faf8f1;
	text-decoration: none;
}


/**--------------carosel------------------**/

 .container--head {
      background: #BF3E11;
    }

.container--head {
      background: #BF3E11;
    }
    .tooltip-carousel {
      position: absolute;
      z-index: 11;
      border-radius: 50%;
    }

    .caraousel-tooltip-item {
      display: none;
    }

    .caraousel-tooltip-item.active {
      display: block;
    }

    /**-----------carosel end-------------------**/

.body{
	margin: 0 auto;
	width: 95%;
	clear: both;
	background-color: #faf8f1;
}

.mainHeader img {
  width: 30%;
  height: auto;
  margin: 2% 0; /*puts space between top of body, main logo, and nav bar*/
}
.mainHeader nav{
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;

}

.mainHeader nav ul li {
	float: left;
display:inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover; .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited; {
	background-color: 
	text-shadow: none;
}

.section{ 
	width: 29%;
	float: left;
	margin: 2% 2%; 
	text-align: center; 
}

.mainContent {
	line-height: 25px;
	/**border: 2px solid #c4b9a2; use later**/ 
	margin-top:5%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;

}

.content{
	width: 70%;
	float:left;

}

.topContent{
	background-color: #fff;
	padding: 3% 3%;
	margin-top: 2px;
}

.bottomContent{
	background-color: #fff;
}


.sidebar{
width: 21%;
float:left;
margin: 2% 0 2% 3%;
}

.bottom-sidebar{
width: 21%;
float:left;
margin-left: 3%;
}

input, textarea{
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
	-box-shadow: rgba(0,0,0,0.1) 0px 0px 8px;
}

textarea{
	width: 400px;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

/*** submit button*/

.submit input{
	width: 100px;
	height: 40px;
	background-color: #D49637;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
	-box-shadow: rgba(0,0,0,0.2) 0px 0px 8px;
}

.form label{
	margin-left: 10px;
	color: #999999;
}
footer{
	background-color: #e0d9cb ;
	width: 100% ;
	overflow: hidden ; 
}

footer p, footer h3{
	color: #605948; 
	width: 90%;
	margin-left: 10%;

}
footer p a{
	color: #f1f0d1; 
	text-decoration: none;  
}

@media only screen and (min-width: 150px) and (max-width: 600px)
{

		.body {
			width: 90%;
			font-size: 95%
		}

		.mainHeader img {
	  width: 100%;
	}

	.mainHeader nav{
		height: 160px;

	}

	.mainHeader nav ul{
	 padding-left: o;

	}

	.mainHeader nav ul li {
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		padding: 10px 25px;
		height: 20px;
		display: block;
	}


	

}
